.con {
    height: 80vh;
    background-color: #f9d47f;
    display: flex;
    flex-direction: column;
    color: white;
}

.row {
    display: flex;
    width: 100%;
    /* background: red; */
    text-align: center;
    user-select: none;
    flex: 1;
    /* line-height: 25px; */
}
.row1 {
    flex: 2;
}

.row2 {
 flex: 6;
 display: flex;
}

.row3 {
    flex: 3;
    display: flex;
}
.tongji{
    flex: 1;
}
.rili {
    flex: 1;
}
.jiating{
    flex: 12;
}
.more {
    flex: 1;
}
.left {
    flex: 1;
}

.right {
    flex: 1;
}

.total {
    flex: 1;
    /* align-items: center; */
    /* justify-content: center; */
}
.rest {
    font-size: 30px;
    line-height: 1;
}