
.row {
    display: flex;
    height: 40px;
    width: 100%;
    text-align: center;
    user-select: none;
    flex: 1;
    justify-content: center;
}

.left, .right{
    flex: 1;
}

.center {
    border-radius: 50%;
    width: 40px;
    background-color: #f9d47f;
}

.center::before {
    content: "+";
    display: inline-block;
    transform: scale(3) translateY(15%);
    color: white;
}