.edit {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color: rebeccapurple; */
}
.edit-icons {
    margin-top: 20px;
    flex: 1;
}
.edit-row {
   flex: 1;
   display: flex;
   flex-direction: row;
  
}
.edit-icon-container {
    flex: 1;
    padding: 0 20px;
}
.edit-icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #eee;
    text-align: center;
}
.edit-icon-text {
    padding: 3px 0;
    text-indent: 1em;
}
.edit-icon-active {
    background-color: chocolate;
}
.edit-title {
    display: flex;
    height: 30px;
    line-height: 25px;
    padding: 10px 10px;
    border-bottom: 1px solid #F1F1F1;
}
.edit-center{
    padding: 2px 0;
}
.edit-save, .edit-close, .edit-center {
    flex: 1;
}
.edit-save {
    text-align: right;
    /* padding-right:  */
}


.calculate {
    height: 25vh;
    /* background-color: red; */
    width: 100%;
    display: flex;
    text-align: center;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.cell-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}


.cell {
    border-right: 1px solid #4B525C;
    border-bottom: 1px solid #4B525C;
    background-color: #3B424C;
    flex: 1;
    line-height: calc(25vh/4);
}

