.bill-tag {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    border: 1px solid #BDB97F;
    color: #D9B565;
    background: white;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.bill-tag-active {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 1px solid #BDB97F;
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    background: #F19A00;
    color: white;
}