.detail {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.detail-title {
    display: flex;
    height: 40px;
    /* background-color: red; */
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #EBEBEB;
}

.goback {
    position: relative;
    flex: 1;
}
.goback::after {
    display: inline-block;
    position: absolute;
    height: 40px;
    content: '<';
    transform: scale(2.5);
    top: 5px;
    left: 20px;
    color: #6F6F6F;
}

.title {
    flex: 3;
    font-weight: bold;
}

.delete {
    flex: 1;
    color: #6F6F6F;
}

.ul-info {
    display: flex;
    padding: 0 20px;
    border-bottom: 2px solid #F2F2F2;
    font-weight: 600;
}
.ul-info li{
    flex: 1;
}
.ul-info li div {
    height: 35px;
}
.ul-info li div:last-of-type {
    height: 60px;
    line-height: 40px;
    border-top: 1px solid #F2F2F2;
}
.ul-info li:last-of-type{
    text-align: right;
}

.detail-btn-wrap {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    padding-right: 20px;
}

.detail-btn {
    background-color: transparent;
    outline: 0;
    border-radius: 16px;
    border: 1px solid #E0E0E0;
    width: 90px;
}

.detail-comment {
    /* background: #F5F5F5; */
}

.comment-ul {
    display: flex;
    padding: 0 20px;
    align-items: center;
    border-bottom: 1px solid  #F2F2F2;
}
.comment-ul li {
    height: 30px;
    flex: 1;
}
.comment-ul li:last-of-type {
    text-align: right;
    color: #F7BC5B;
}

.comment-data {
    color: #ADADAD;
    height: 60px;
    line-height: 60px;
    text-align: center;
    
}

.detail-rest {
    background-color: #F5F5F5;
    flex: 1;
}