li {
    height: 30px;
    border-bottom: 1px dotted black;
    line-height: 30px;
    text-align: center;
    user-select: none;
}

.wrap {
    margin: 10px 50px; 
}

.mt20 {
    margin-top: 20px;
}

.input {
    height: 30px;
    width: 70%;
    display: inline-block;
    margin-bottom: 10px;
}
p {
    margin-left: 30%;
    color: red;
}
.btn {
    width: 10%;
    border-radius: 10%;
    height: 30px;
    margin-left: 5%;
    outline: none;
}

.btn:active {
    background: rgb(177, 217, 233);
}