.container{
    width: 640px;
    margin: 25px 0 0 250px ;
    /* background: red; */
    display: flex;
}


.col1{
    flex:1;
}
.col2{
    flex:1;
    margin-left: 50px;
}
.col2>img{
    padding-bottom: 2px;
}
.col2{
    margin: 5px 0 0 30px;
}
.qrcode{
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
}
.right{
    float: right;
}
.right>p{
    margin-top: 5px;
}

.banner{
    border: 1px solid #eee;
    border-radius: 5px;
    width: 100px;
    vertical-align: bottom;
}
.banner>img{
    /* w */
}